#header
{
	height:9%;
	width: 70%;
	margin-left: 15%;
	vertical-align: top;

}
#first
{
	width:15%;
	font-family: sans-serif;
	color:#0066ff;
	float:left;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}	
.btn
{
	text-decoration: none;
	font-family: sans-serif;
	color:#0066ff;
	font-size: 10px;

}
a
{
	text-decoration: none;
	font-family: sans-serif;
	color:white;
}
#second
{
	vertical-align: middle;
	width:65%;
	text-align: right;
	float:left;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
#third
{
	font-family: sans-serif;
	text-align: center;
	width:20%;
	float:left;
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: bottom;
}
#bodies
{
	height:88%;
	
}
#forms
{
	width:200px;
	height:500px;
	background-color: grey;
}
